## .NET
bin/
obj/
*.user
*.suo
*.userprefs
*.DotSettings.user
.vs/

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/

## NuGet
*.nupkg
**/packages/*
project.lock.json
project.fragment.lock.json

## IDE
.idea/
*.swp
*~
